html, body, #app-main {
  height: 100%; }

.content h1 {
  text-align: center; }

.ui.table thead th.sortable {
  cursor: pointer; }

.vdp-datepicker__calendar header span {
  color: #000000; }

.vdp-datepicker__calendar .cell {
  color: #000000; }
